@model Entities.BookBE
@{
    ViewBag.Title = "Edit";
}
<title>Edit Books</title>
<style>
    html body {
        background-color:#76D7C4;
        padding: 0;
        font-style: italic;
        font-family: sans-serif;
        font-weight: bold;        
    }

    h1 {
        font-style: italic;
        font-family: sans-serif;
        color: #000000;
        font-weight: bold;
    }

    
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="container">
        <h1>Edit Book's Information</h1>
        <form method="post" action="@Url.Action("Edit", "Book")">
            <div class="form-group">
                <input hidden name="Id" value="@Model.Id" />
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">TITLE</label>
                <input type="text" pattern="[A-Za-z_ ]{1,50}" maxlength="50" value="@Model.Title" class="form-control" id="Title" name="Title" placeholder="Title" required
                       oninvalid="this.setCustomValidity('Enter A Valide Book Author Here')"
                       oninput="this.setCustomValidity('')"  /> 
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">AUTHOR</label>
                <input type="text" pattern="[A-Za-z_ ]{3,70}" maxlength="70" value="@Model.Author" class="form-control" id="Author" name="Author" placeholder="Author" required
                       oninvalid="this.setCustomValidity('Enter A Valide Book Author Here')"
                       oninput="this.setCustomValidity('')"  /> 
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"> GENRE</label>
                 @Html.DropDownListFor(model => model.Genre, (IEnumerable<SelectListItem>) ViewBag.EnumGenreList)
            </div>
            <button type="submit" class="btn btn-warning">Submit</button> 
        </form>
    </div>
</body>
       

