@{
    Layout = null;
}
<title>Books List</title>
<style>
    html body {
        background-color:#10AE8F;
        padding: 0;
        font-style: italic;
        font-family: sans-serif;
        font-weight: bold;
    }

    html h1 {
        font-style:italic;
        font-family:sans-serif;
        color:#17202A;
        font-weight:bold;
        text-decoration:underline
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
    <h1>Books List</h1>

    @foreach (var book in ViewBag.BooksList)
    {
        <p>
            @book.Id
            @book.Title,
            @book.Author,
            @book.Genre
        </p>
        <div class="btn-group btn-group-sm">
            @Html.ActionLink("Edit", "OpenEdit", new { id = book.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = book.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Borrow", "Borrow", new { id = book.Id }, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Book", "Book", new { id = book.Id }, new { @class = "btn btn-primary" })
        </div>
    }

</div>